form {
	margin: 0px;
}

.mainDiv {
	position: relative;
	top: 0px;
	left:0px;
}

.backgroundImageDiv {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	min-height: calc(100% - 251px);
	background-color: #000000;
}

.backgroundImage {
	width: 100%;
}

.accountContainer {
	position: absolute;
	top: 1em;
	left: 25%;
	width: 50%;
	border: solid 1px #000000;
	background-color: #ffffff;
}

.changeFormButton {
	display: inline-block;
	width: 50%;
	font-size: 3vw;
	font-family: Times, serif;
	margin: 0px;
	-webkit-appearance: button;
}

.changeFormLabel {
	display: inline-block;
	width: 50%;
	font-size: 3vw;
	margin: 0;
	text-align: center;
}

.label {
	font-size: 3vw;
	margin: .5em;
	color: #000000;
}

.textInput {
	width: calc(100% - 1em);
	margin: .5em;
	font-size: 2vw;
}

.logInButton {
	display: block;
	font-size: 3vw;
	margin: .5em auto 1em auto;
	-webkit-appearance: button;
}

.icon {
	display: inline-block;
	height: 1em;
	margin: 0em 0em 0em 1em;
}

.errorLabel {
	display: inline-block;
	font-size: 1.5vw;
	margin: 0em 0em 0em .5em;
	color: #ff0000;
}
