body {
	margin: 0px;
}

.header {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100px;
	background-color: #ffffff;
}

.headerLogo {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100px;
	cursor: pointer;
}

.headerMerchandise {
	position: fixed;
	left: 350px;
	top: 0px;
	width: 260px;
	height: 50px;
	font-size: 50px;
	padding-top: 20px;
	padding-bottom: 30px;
	text-decoration: none;
	color: #000000;
}

.headerAccount {
	position: fixed;
	left: calc(100% - 265px);
	top: 0px;
	width: 265px;
	height: 25px;
	font-size: 25px;
	text-decoration: none;
	color: #000000;
}

.headerFiller {
	height: 100px;
	width: 100%;
	background-color: #ffffff;
}

.main {
	width: 100%;
}

.separator {
	width: 100%;
	height: 100px;
	background-color: #000000;
}

.footer {
	width: 100%;
	height: 200px;
	background-color: #ffffff;
}

.footerLogo {
	height: 100px;
}

.footerTop {
	height: 170px;
}

.footerBottom {
	margin: auto;
	height: 30px;
	border-top: solid;
	width: 50%;
}

.footerCopyright {
	margin: 0px;
}
