body {
	margin: 0px;
}

* {
	font-family: Times, Serif;
}

#header {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100px;
	background-color: #ffffff;
}

.headerLogo {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100px;
	cursor: pointer;
}

.headerMerchandise {
	position: absolute;
	left: 350px;
	top: 0px;
	width: 260px;
	height: 50px;
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 30px;
	text-decoration: none;
	color: #000000;
}

.headerAccountLink {
	position: absolute;
	left: calc(100% - 175px);
	top: 0px;
	width: 170px;
	margin: 5px 0px 0px 0px;
	text-decoration: none;
	color: #000000;
}

.headerGreeting {
	position: absolute;
	top: 0px;
	right: 110px;
	margin: 7px 0px 0px 0px;
	color: #000000;
}

.headerLogOutButton {
	position: absolute;
	left: calc(100% - 105px);
	top: 0px;
	width: 100px;
	margin: 5px 0px 0px 0px;
	color: #000000;
}

#main {
	position: relative;
	top: 100px;
	left: 0px;
	width: 100%;
}

.backgroundImageDiv {
	display: flex;
	flex-direction: column-reverse;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
	z-index: -1;
}

.backgroundImage {
	width: 100%;
}

#footer {
	position: relative;
	top: 100px;
	left: 0px;
	width: 100%;
	height: 150px;
	background-color: #ffffff;
}

.footerLogo {
	height: 100px;
}

.footerTop {
	height: 130px;
}

.footerBottom {
	margin: 0px auto 0px auto;
	border-top: solid 1px #000000;
	width: 50%;
	height:20px;
}

.footerCopyright {
	margin: 0px;
}
