body {
	margin: 0px;
}

* {
	font-family: Times, Serif;
}

.header {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100px;
	background-color: #ffffff;
}

.headerLogo {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100px;
	cursor: pointer;
}

.headerMerchandise {
	position: absolute;
	left: 350px;
	top: 0px;
	width: 260px;
	height: 50px;
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 30px;
	text-decoration: none;
	color: #000000;
}

.headerAccountLink {
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 5px 5px 0px 0px;
	font-size: 1.2em;
	text-decoration: none;
	color: #000000;
}

.headerGreeting {
	position: absolute;
	top: 0px;
	right: 135px;
	font-size: 1.3em;
	margin: 7px 0px 0px 0px;
	color: #000000;
}

.cartIconDiv {
	position: absolute;
	top: 0px;
	right: 100px;
	width: 1.8em;
	height: 1.8em;
	margin: 4px 0px 0px 0px;
	cursor: pointer;
}

.cartIcon {
	position: absolute;
	height: 1.8em;
}

.cartNumBadge {
	position: absolute;
	top: -3px;
	right: -10px;
	margin: 0px;
	width: 16px;
	height: 16px;
	text-align: center;
	border-radius: 50%;
	background-color: #ff0000;
	color: #ffffff;
}

.headerLogOutButton {
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 5px 5px 0px 0px;
	-webkit-appearance: button;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	font-size: 1.2em;
	color: #000000;
}

.main {
	position: relative;
	top: 100px;
	left: 0px;
	width: 100%;
}

.backgroundImageDiv {
	display: flex;
	flex-direction: column-reverse;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
	z-index: -1;
}

.backgroundImage {
	width: 100%;
}

.footer {
	position: relative;
	top: 100px;
	left: 0px;
	width: 100%;
	height: 150px;
	background-color: #ffffff;
}

.footerLogo {
	height: 100px;
}

.footerTop {
	height: 130px;
}

.footerBottom {
	margin: 0px auto 0px auto;
	border-top: solid 1px #000000;
	width: 50%;
	height:20px;
}

.footerCopyright {
	margin: 0px;
}
