.cartTitle {
	margin: 0px;
	font-size: 5vw;
	color: #ffffff;
}

.cartDiv {
	margin: 4em 2em 0em 2em;
	padding: 1em;
	background-color: #000000;
}

.productImage {
	width: 15%;
}

.titleAndOptionsDiv {
	display: inline-block;
	margin: 0em 3em;
	vertical-align: top;
}

.productTitle {
	font-size: 3vw;
	color: #ffffff;
}

.removeProductButton {
	display: block;
	webkit-appearance: button;
	font-size: 2vw
}

.priceTitle {
	display: inline-block;
	font-size: 3vw;
	color : #ffffff;
	vertical-align: top;
}

.loader {
	border: 16px solid transparent;
	border-top: 16px solid navy;
	border-bottom: 16px solid #ff0000;
	border-radius: 50%;
	margin: .5em auto 1em auto;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.icon {
	display: inline-block;
	height: 1em;
	margin: 0em 0em 0em 1em;
}

.errorLabel {
	display: inline-block;
	font-size: 1.5vw;
	margin: 0em 0em 0em .5em;
	color: #ff0000;
}
