.cartDiv {
	margin: 2em;
	padding: 1em;
	background-color: #000000;
}

.productImage {
	width: 15%;
}

.titleAndOptionsDiv {
	display: inline-block;
	margin: 0em 3em;
	vertical-align: top;
}

.productTitle {
	font-size: 3vw;
	color: #ffffff;
}

.removeProductButton {
	display: block;
	webkit-appearance: button;
	font-size: 2vw
}

.priceTitle {
	display: inline-block;
	font-size: 3vw;
	color : #ffffff;
	vertical-align: top;
}
