.header {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100px;
}

.headerImage {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 100px;
}

.headerText {
	position: fixed;
	left: 100px;
	top: 0px;
	width: 400px;
	height: 100px;
	font-size: 100px;
	margin: 0px;
}
