.header {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100px;
	background-color: #0000ff;
}

.headerImage {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 90px;
	height: 90px;
	padding: 5px;
}

.headerText {
	position: fixed;
	left: 100px;
	top: 0px;
	width: 500px;
	height: 90px;
	font-size: 90px;
	margin: 0px;
	padding: 5px;
}
