.header {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100px;
	background-color: #ffffff;
}

.headerClutch {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 240px;
	height: 90px;
	margin: 0px;
	padding: 5px;
	font-size: 90px;
	color: #ff0000;
}

.headerFactor {
	position: fixed;
	left: 240px;
	top: 0px;
	width: 230px;
	height: 90px;
	margin: 0px;
	padding: 5px;
	font-size: 90px;
	color: #0000ff;
}
