.landingImageDiv {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
}

.landingImage {
	width: 100%;
	z-index: -1;
}

.landingText1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	font-size: 5vw;
	color: #000000;
	text-align: center;
	margin: 0px;
}

.landingText2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	font-size: 6vw;
	color: #000000;
	text-align: right;
	margin: 0px;
}

.landingText3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	font-size: 3.3vw;
	color: #000000;
	text-align: left;
	margin: 0px;
}
