.landingImageDivWrapper {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	min-height: calc(100% - 251px);
	background-color: #000000;
}

.landingImageDiv {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
}

.landingImage {
	width: 100%;
	z-index: -1;
}

.landingText {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	font-size: 5vw;
	color: #0000ff;
	text-align: center;
	margin: 0px;
}

.merchandiseLink {
	position: absolute;
	left: 37.5%;
	top: 16vw;
	width: 25%;
	margin: auto;
	font-size: 4vw;
	text-align: center;
	color: #ff0000;
	text-decoration: none;
}
