body {
	margin: 0px;
}

.header {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 200px;
	background-color: #ffffff;
}

.headerLogo {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 200px;
}

.headerFiller {
	height:200px;
	width:100%;
	background-color: #000000;
}

.main {
	width: 100%;
	height: 100%;
	background-color: #000000;
}

.footer {
	width: 100%;
	height: 200px;
	background-color: #ffffff;
}

.footerLogo {
	height: 100px;
}

.footerTop {
	height: 150px;
}

.footerBottom {
	margin: auto;
	height: 50px;
	border-top: solid;
	width: 50%;
}

.footerCopyright {
	margin: 0px;
}
