.merchandiseContainer {
	padding: 1em;
}

.merchandiseDiv {
	display: inline-block;
	width: 200px;
	margin: 1em;
	padding: 1em;
	vertical-align: top;
	background-color: #000000;
	cursor: pointer;
}

.merchandiseDivHovered {
	display: inline-block;
	width: 200px;
	margin: 1em;
	padding: 1em;
	vertical-align: top;
	background-color: #ffffff;
	cursor: pointer;
}

.merchandiseImage {
	width: 100%;
}

.merchandiseTitle {
	width: 100%;
	margin: 0px;
	font-size: 1.2em;
	text-align: center;
	color: #ffffff;
	border-bottom: solid .5px #ffffff;
}

.merchandiseTitleHovered {
	width: 100%;
	margin: 0px;
	font-size: 1.2em;
	text-align: center;
	color: #000000;
	border-bottom: solid .5px #000000;
}

.numColorsTitle {
	display: inline-block;
	width: 50%;
	margin: 0px;
	font-size: 1em;
	text-align: left;
	color: #ffffff;
}

.numColorsTitleHovered {
	display: inline-block;
	width: 50%;
	margin: 0px;
	font-size: 1em;
	text-align: left;
	color: #000000;
}

.priceTitle {
	display: inline-block;
	width: 50%;
	margin: 0px;
	font-size: 1em;
	text-align: right;
	color: #ffffff;
}

.priceTitleHovered {
	display: inline-block;
	width: 50%;
	margin: 0px;
	font-size: 1em;
	text-align: right;
	color: #000000;
}

.previewImage {
	display: inline-block;
	margin-top: .5em;
	vertical-align: top;
}
