.merchandiseContainer {
	padding: 1em;
}

.merchandiseDiv {
	display: inline-block;
	height: 225px;
	margin: 1em;
	padding: 1em;
	vertical-align: top;
	background-color: #000000;
	cursor: pointer;
}

.merchandiseDivHovered {
	display: inline-block;
	height: 225px;
	margin: 1em;
	padding: 1em;
	vertical-align: top;
	background-color: #aaaaaa;
	cursor: pointer;
}

.productDiv {
	display: inline-block;
	height: 100%;
}

.merchandiseImage {
	display: block;
	height: calc(100% - 41px);
	vertical-align: top;
}

.merchandiseTitle {
	width: 100%;
	margin: 0px;
	font-size: 1.2em;
	text-align: center;
	color: #aaaaaa;
	border-bottom: solid .5px #aaaaaa;
}

.merchandiseTitleHovered {
	width: 100%;
	margin: 0px;
	font-size: 1.2em;
	text-align: center;
	color: #000000;
	border-bottom: solid .5px #000000;
}

.numColorsTitle {
	display: inline-block;
	width: 50%;
	margin: 0px;
	font-size: 1em;
	text-align: left;
	color: #aaaaaa;
}

.numColorsTitleHovered {
	display: inline-block;
	width: 50%;
	margin: 0px;
	font-size: 1em;
	text-align: left;
	color: #000000;
}

.priceTitle {
	display: inline-block;
	width: 50%;
	margin: 0px;
	font-size: 1em;
	text-align: right;
	color: #aaaaaa;
}

.priceTitleHovered {
	display: inline-block;
	width: 50%;
	margin: 0px;
	font-size: 1em;
	text-align: right;
	color: #000000;
}

.previewDiv {
	display: inline-block;
	height: 100%;
	margin-left: .5em;
}

.previewImageDiv {
	position: relative;
	top: 0px;
	left: 0px;
	margin: .25em 0em .25em 0em;
}

.previewImage {
	display: block;
	width: 50px;
	vertical-align: top;
}

.colorText {
	position: absolute;
	left: 55px;
	top: 0px;
	padding: 5px;
	border-radius: 5px;
	margin: 0px;
	background-color: #000000;
	color: #ffffff;
}
