.merchandiseContainer {
	padding: 1em;
}

.merchandiseDiv {
	display: inline-block;
	height: 225px;
	margin: 1em;
	padding: 1em;
	vertical-align: top;
	background-color: #000000;
	cursor: pointer;
}

.loader {
	border: 16px solid transparent;
	border-top: 16px solid navy;
	border-bottom: 16px solid #ff0000;
	border-radius: 50%;
	margin: .5em auto 1em auto;
	width: 150px;
	height: 150px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.merchandiseDivHovered {
	display: inline-block;
	height: 225px;
	margin: 1em;
	padding: 1em;
	vertical-align: top;
	background-color: #aaaaaa;
	cursor: pointer;
}

.productDiv {
	display: inline-block;
	height: 100%;
}

.merchandiseImage {
	display: block;
	height: calc(100% - 41px);
	vertical-align: top;
}

.invisible {
	display: none;
}

.merchandiseTitle {
	width: 100%;
	margin: 0px;
	font-size: 1.2em;
	text-align: center;
	color: #aaaaaa;
	border-bottom: solid .5px #aaaaaa;
}

.merchandiseTitleHovered {
	width: 100%;
	margin: 0px;
	font-size: 1.2em;
	text-align: center;
	color: #000000;
	border-bottom: solid .5px #000000;
}

.numColorsTitle {
	display: inline-block;
	width: 50%;
	margin: 0px;
	font-size: 1em;
	text-align: left;
	color: #aaaaaa;
}

.numColorsTitleHovered {
	display: inline-block;
	width: 50%;
	margin: 0px;
	font-size: 1em;
	text-align: left;
	color: #000000;
}

.priceTitle {
	display: inline-block;
	width: 50%;
	margin: 0px;
	font-size: 1em;
	text-align: right;
	color: #aaaaaa;
}

.priceTitleHovered {
	display: inline-block;
	width: 50%;
	margin: 0px;
	font-size: 1em;
	text-align: right;
	color: #000000;
}

.previewDiv {
	display: inline-block;
	height: 100%;
	margin-left: .5em;
	overflow-y: auto;
}

.previewImage {
	display: block;
	width: 50px;
	vertical-align: top;
	margin: .25em 0em .25em 0em;
}

.colorLabel {
	position: absolute;
	padding: 5px;
	border-radius: 5px;
	margin: 0px;
	background-color: #000000;
	color: #ffffff;
}
