.merchandiseDiv {
	display: inline-block;
	width: 200px;
	height: 225px;
	margin: 2em 0em 0em 2em;
	padding: 1em;
	vertical-align: top;
	background-color: #000000;
}

.merchandiseImage {
	width: 100%;
	height: calc(100% - 22px);
}

.merchandiseTitle {
	width: 100%;
	margin: 0px;
	font-size: 1.2em;
	text-align: center;
	color: #ffffff;
}
