.productPreviewDiv {
	display: inline-block;
	width: calc(50% - 4em);
	vertical-align: top;
	padding: 2em;
}

.productPreviewImage {
	width: 100%;
}

.productInfoDiv {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.productInfoTitle {
	font-size: 5vw;
	color: #ffffff;
	margin: 0px 0px .5em 0px;
	text-align: center;
}

.numColorsTitle {
	display: inline-block;
	font-size: 3vw;
	color: #ffffff;
	vertical-align: top;
	margin: calc(50px - 1.5vw) 0px 0px 0px;
}

.colorPreview {
	height: 100px;
	margin: .5em;
}

.priceTitle {
	display: inline-block;
	font-size: 3vw;
	color: #ffffff;
}

.addToCartButton {
	font-size: 3vw;
	margin: 1em;
	padding: 10px;
	background-color: navy;
	color: #ff0000;
	border-radius: 10px;
	float: right
}
