.stageHeader {
	background-color: #aaaaaa;
	color: #000000;
	padding: .5em;
	font-size: 3vw;
}

.addressOptionDiv {
	display: inline-block;
	padding: 1em;
	margin: 2em;
	background-color: #aaaaaa;
}

.addressLabel {
	color: #000000;
	margin: 0px;
}

.infoDiv {
	width: 50%;
	margin: auto;
	padding: 1em;
	background-color: #ffffff;
}

.formTitle {
	margin: auto;
	font-size: 4vw;
	text-align: center;
}

.textInput {
	display: block;
	width: 90%;
	margin: .5em auto;
	font-size: 2vw;
}

.submitInfo {
	display: block;
	margin: auto;
	-webkit-appearance: button;
	font-size: 2vw;
}

.payButton {
	display: block;
	margin: auto;
	-webkit-appearance: button;
	font-size: 3vw;
}

.notLoggedInError {
	color: #ffffff;
	font-size: 4vw;
}
